page-modal {
    p.AddrP{
        padding-left: 16px;
        font-size: 16px;
    }
    div.qrCodeWrap {
        text-align: center;
        span{
            color: #666;
            font-size: 12px;
        }
    }
}
