setting-detail-item {
    .passBtn {
        margin-top: 5rem;
        background-color: #4a8bfc;
    }
    .seed-card {
        padding: 1rem;
        margin-top: 2rem;
        background-color: #f2f2f2;
        p {
            font-size: 16px;
        }
    }
}
